.container {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
}

.inputDiv {
  background: #5fc0de;
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
  width: auto;
  margin: auto;
}

.inputel {
  margin: 15px;
  margin-right: 10px;
}
